<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
    <body>
        <div class="post">
            <article>
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                    {{ .Date.Format "Jan 2, 2006" }}
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read
                    </h2>
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>
        </section>
    </body>
</html>
