{{- define "main" -}}

<div class="post">
    <div class="post-info">
        {{ if .Date }}
        {{ .Date.Format "Jan 2, 2006" }}
        · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
        · {{ .ReadingTime }} minute read
        {{ end }}
    </div>

    <h1 class="post-title">
        {{ .Title }}
    </h1>

    <div class="post-tags">
        {{- range .Params.tags -}}
        {{- $url := print "/tags/" (. | urlize) "/" -}}
        <a class="tag" href={{- $url | relLangURL -}}>#{{- . -}}</a>
        {{- end -}}
    </div>

    <div class="post-body">
        {{ .Content }}
    </div>
</div>

{{- end -}}

{{- define "foot" -}}
{{- partial "foot.html" . -}}
{{- end -}}