<div class="content">
    <div class="tree">
        <ul class="datalist">
            {{ range where .Paginator.Pages "Section" "ne" "" }}
            <li>
                <div class='document'>
                    <a href='{{ .URL }}'>
                        <p class="topic">
                            {{ .Date.Format "Jan 2 2006" }} - {{ .LinkTitle }}
                        </p>
                    </a>
                    <p>{{ .Summary | markdownify }}</p>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>